# Node and dependency files
node_modules/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Build or cache
dist/
.cache/
out/
*.log

# Environment or config
.env
.env.local
